@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetbrains-mono-600 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../public/fonts/jetbrains-mono-v13-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../public/fonts/jetbrains-mono-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer base {
  :root {
    --app-color-green: '#A4FFAF';
  }

  html {
    font-family: 'JetBrains Mono', system-ui, sans-serif;
  }

  input[type='range'] {
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background: #e6e5ea;
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type='range']::-moz-range-thumb {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background: #e6e5ea;
    cursor: pointer;
  }

  input[type='range']::-ms-thumb {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background: #e6e5ea;
    cursor: pointer;
  }
}

@layer components {
  .heading {
    @apply text-[2rem] leading-[2.6875rem];
  }

  button {
    @apply transition enabled:active:scale-90;
  }
}
